[submodule "external/cclib"]
	path = external/cclib
	url = https://github.com/felixplasser/cclib.git
[submodule "external/periodictable"]
	path = external/periodictable
	url = https://github.com/pkienzle/periodictable.git
